/* .cat-drop{
  text-decoration: none;
  color: white;
}

.drop-items a{
  display: block;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
}

.drop-down .drop-items{
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: white;
  z-index: 90;
}

.drop-down:hover .drop-items{
  display: block;
}  */

.cat-links {
  display: flex;
  list-style-type: none;
  transform: translateX(-22px);
}

.cat-links li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.cat-links2{
  text-decoration: none;
  color: white;
  
}